h1, h2, p {
  font-family: sans-serif; }

body {
  margin: 0;
  font-family: sans-serif; }

body {
  background: #333;
  height: 100%; }

.timer {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ddd;
  width: 100%;
  height: 10%;
  text-align: center; }
  .timer h1 {
    font-size: 400%;
    height: 100%;
    margin: 0;
    vertical-align: middle;
    cursor: pointer; }
